.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.money {

}

.square {
  display: flex;
  width: 100px;
  height: 100px;
}

.circle {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-style: dashed;

}

.money {
  justify-content: center;
  border-style: ridge;
  margin: auto auto 20px;
}


.a-question {
}

.not-opened {
  background-color: gray;
}
.a-truth {
  background-color: green;
}
.a-lie {
  background-color: red;
}
.a-truth-reveal {
  background-color: lightgreen;
}
.a-lie-reveal {
  background-color: pink;
}

.text {
  margin: auto;
}

.row {
  display: flex;
  justify-content: center;
}

